In [3]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [6]:
df1 = pd.get_dummies(df,dtype=int)
df1

,salary_more_then_100k,company_abc pharma,company_facebook,company_google,job_business manager,job_computer programmer,job_sales executive,degree_bachelors,degree_masters
0,0,0,0,1,0,0,1,1,0
1,0,0,0,1,0,0,1,0,1
2,1,0,0,1,1,0,0,1,0
3,1,0,0,1,1,0,0,0,1
4,0,0,0,1,0,1,0,1,0
5,1,0,0,1,0,1,0,0,1
6,0,1,0,0,0,0,1,0,1
7,0,1,0,0,0,1,0,1,0
8,0,1,0,0,1,0,0,1,0
9,1,1,0,0,1,0,0,0,1
10,1,0,1,0,0,0,1,1,0
11,1,0,1,0,0,0,1,0,1
12,1,0,1,0,1,0,0,1,0
13,1,0,1,0,1,0,0,0,1
14,1,0,1,0,0,1,0,1,0
15,1,0,1,0,0,1,0,0,1

In [7]:
df1.corr()

,salary_more_then_100k,company_abc pharma,company_facebook,company_google,job_business manager,job_computer programmer,job_sales executive,degree_bachelors,degree_masters
salary_more_then_100k,1.000000,-4.472136e-01,6.000000e-01,-2.000000e-01,3.333333e-01,-0.034816,-0.313340,-2.581989e-01,2.581989e-01
company_abc pharma,-0.447214,1.000000e+00,-4.472136e-01,-4.472136e-01,1.490712e-01,-0.077850,-0.077850,-4.006172e-17,2.403703e-17
company_facebook,0.600000,-4.472136e-01,1.000000e+00,-6.000000e-01,-6.666667e-02,0.034816,0.034816,4.299875e-17,-1.433292e-17
company_google,-0.200000,-4.472136e-01,-6.000000e-01,1.000000e+00,-6.666667e-02,0.034816,0.034816,-2.866584e-17,0.000000e+00
job_business manager,0.333333,1.490712e-01,-6.666667e-02,-6.666667e-02,1.000000e+00,-0.522233,-0.522233,-1.433292e-17,0.000000e+00
job_computer programmer,-0.034816,-7.784989e-02,3.481553e-02,3.481553e-02,-5.222330e-01,1.000000,-0.454545,1.348400e-01,-1.348400e-01
job_sales executive,-0.313340,-7.784989e-02,3.481553e-02,3.481553e-02,-5.222330e-01,-0.454545,1.000000,-1.348400e-01,1.348400e-01
degree_bachelors,-0.258199,-4.006172e-17,4.299875e-17,-2.866584e-17,-1.433292e-17,0.134840,-0.134840,1.000000e+00,-1.000000e+00
degree_masters,0.258199,2.403703e-17,-1.433292e-17,0.000000e+00,0.000000e+00,-0.134840,0.134840,-1.000000e+00,1.000000e+00

In [21]:
x = df1.drop(columns = ['salary_more_then_100k'])
y = df['salary_more_then_100k']

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33)

In [25]:
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [26]:
model.score(x_train,y_train)

1.0

In [63]:
from sklearn.linear_model import LogisticRegression

In [64]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33)

In [65]:
model1 = LogisticRegression()
model1.fit(x_train,y_train)

LogisticRegression()

In [66]:
model1.score(x_train,y_train)

0.8

In [67]:
n = int(input())
for i in range(n):
    company_abc_pharma,company_facebook,company_google,job_business_manager,job_computer_programmer,job_sales_executive,degree_bachelors,degree_masters = map(int,input().split(','))
    print(model.predict([[company_abc_pharma,company_facebook,company_google,job_business_manager,job_computer_programmer,job_sales_executive,degree_bachelors,degree_masters]])) #bad prediction

1
0,0,1,0,0,1,1,0
[0]

C:\Users\DELL\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(